name: Build macOS Binary

on:
  push:
    branches:
      - master

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout kodu
        uses: actions/checkout@v3

      - name: pyinstaller ve pyautogui kur
        run: |
          python3 -m pip install --upgrade pip
          pip install pyinstaller pyautogui

      - name: Derle
        run: |
          pyinstaller --onefile auto_clicker.py

      - name: Derlenmiş dosyayı yükle
        uses: actions/upload-artifact@v3
        with:
          name: macos-binary
          path: dist/auto_clicker
